.hide-me[aria-expanded="true"] {display: none;}


#law-name
{
  text-align: left;
}

#law-name
{
  text-align:right;
}

#results
{
  color: black;
  width: 100%;
  text-align: center;
  text-decoration:none;
}

#results:hover
{
  background-color: #b2e8f5;
  text-decoration: none;
  color: black;
}

